<div class="container-xxl mt-5">
  <h1 class="mb-3">Cars</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4" *ngIf="cars">
    <div class="col" *ngFor="let car of cars">
      <div class="card" >
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h3 class="card-title">{{ car.name }} {{ car.price }}$</h3>
          <p class="card-text">
            {{ car.category }} |  {{ car.modelYear }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="cars.length === 0">Error</p>
</div>

<!-- 
        id: number;
    name: string;
    category: string;
    price: number;
    unitsInStock: number;
    modelYear: number;
    imageSrc: string;
 -->