<!-- <div class="mt-5" *ngIf="isInitialized">
<div class="container-md">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" *ngIf="cars" >
      <h1>Recommended</h1>
      <div class="carousel-item active" data-bs-interval="1000" *ngFor="let car of cars">
        <img [src]="car.imageSrc | safeResourceUrl" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{car.name}}</h5>
          <p>{{car.category}}</p>
        </div>     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div> -->

<div class="mt-5" *ngIf="isInitialized">
  <div class="container-md">
    <ngb-carousel id="carouselExampleDark" class="carousel carousel-dark slide" [pauseOnHover]="true" [keyboard]="true" [interval]="2000">
      <ng-template ngbSlide *ngFor="let car of cars">
        <img [src]="car.imageSrc | safeResourceUrl" alt="{{ car.name }} slide">
        <div class="carousel-caption">
          <h3>{{ car.name }}</h3>
          <p>{{ car.category }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
