<div id="id1" class="container-flex mt-5" >

<div id="id2" class="container-xxl mt-5" >
  <div>
    <label for="inputPassword5" class="form-label">Name</label>
    <input
      value="{{car.name}}"
      type="text"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>
  <div>
    <label for="inputPassword5" class="form-label">Category</label>
    <input
    value="{{car.category}}"
      type="text"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>
  <div>
    <label for="inputPassword5" class="form-label">Price</label>
    <input
    value="{{car.price}}"
      type="text"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>
  <div>
    <label for="inputPassword5" class="form-label">Units In Stock</label>
    <input
    value="{{car.unitsInStock}}"
      type="number"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>
  <div>
    <label for="inputPassword5" class="form-label">Model Year</label>
    <input
    value="{{car.modelYear}}"
      type="number"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>
  <div>
    <label for="inputPassword5" class="form-label">Image</label>
    <input
    value="{{car.imageSrc}}"
      type="text"
      id="inputPassword5"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers,
      and must not contain spaces, special characters, or emoji.
    </div>
  </div>

  <upload-image></upload-image>
</div>

<div id="id3" class="container-xxl">
add car card here
  </div>
</div>
